@import "utilities/design-utilities/sass-variables.scss";

.locationList {
  min-width: 300px;

  .dropButton {
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px black;
    color: #ffd333;
    font-size: $searchListFontSize;
  }

  .dropButton:hover {
    text-shadow: none;
  }

  .dropdownMenuLinks {
    text-shadow: none;
    padding-right: 3px;
    padding-left: 3px;
  }

  @media only screen and (min-width: $xlBreakPoint) {
    padding-top: 45px;
  }
}
