
/*
*  Where are located all sass variables
*  node_modules/bootstrap/scss/_variables.scss
*/

$smBreakPoint: 576px;
$mdBreakPoint: 768px;
$lgBreakPoint: 992px;
$xlBreakPoint: 1200px;

$searchListFontSize: 0.9rem;

@font-face {
  font-family: ArashShoarHelveticaNeue;
  src: url('../../assets/fonts/HelveticaNeue-UltLt.otf');
}
