@import 'utilities/design-utilities/sass-variables';

.app {
  color: navy;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "currentTempContainer"
    "componentsSetOne"
    "componentsSetTwo"
    "links";
  max-width: 1200px;
  //min-height: 800px;


  .asideContainer {
    grid-area: asideContainer;
    border: solid 2px red;
    display: none;
  }

  .currentTempContainer {
    grid-area: currentTempContainer;
    border: solid 2px orange;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
  }

  .links {
    grid-area: links;
    border: solid 2px blue;

  }

  .componentsSetOne {
    grid-area: componentsSetOne;
    border: solid 2px green;

  }

  .componentsSetTwo {
    grid-area: componentsSetTwo;
    border: solid 2px maroon;
  }

  @media only screen and (min-width: $mdBreakPoint ) {
    grid-template-areas:
            "currentTempContainer currentTempContainer"
            "links links"
            "componentsSetOne componentsSetTwo"
            "componentsSetOne componentsSetTwo"
            "componentsSetOne componentsSetTwo";
  }

  @media only screen and (min-width: $xlBreakPoint ) {
    margin: auto;
    min-width: 1200px;
    grid-template-areas:
            "asideContainer currentTempContainer currentTempContainer currentTempContainer currentTempContainer"
            "asideContainer links links links links"
            "asideContainer componentsSetOne componentsSetOne componentsSetTwo componentsSetTwo";

    .asideContainer {
      display: grid;
    }
  }
}
